.Body_1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("laptop_coffee_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  background-position: center;
  height: 300px;
  color: white;
  text-align: center;
}

.Body_1_1 {
  padding-top: 200px;
  font-size: 25px;
  display: block;
}

.Body_1_2 {
  font-size: 10px;
  display: block;
  padding-top: 10px;
}

/* Media Queries */
@media only screen and (min-width: 90em) /*large*/ {
  .Body_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("laptop_coffee_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    background-position: center;
    height: 850px;
    color: white;
    text-align: center;
  }

  .Body_1_1 {
    padding-top: 400px;
    font-size: 50px;
    display: block;
  }

  .Body_1_2 {
    font-size: 20px;
    display: block;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 50em) /*large*/ {
  .Body_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("laptop_coffee_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    background-position: center;
    height: 500px;
    color: white;
    text-align: center;
  }

  .Body_1_1 {
    padding-top: 200px;
    font-size: 50px;
    display: block;
  }

  .Body_1_2 {
    font-size: 15px;
    display: block;
    padding-top: 10px;
  }
}
